.header {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 20px 20px;
  z-index: 0;
}

/* Section */
section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 32px;
  margin-top: 10px;
}
section .udet {
  display: flex;
  width: 328px;
  height: 60px;
}
section .udet span {
  font-size: 32px;
  text-align: center;
  padding-top: 5px;
  width: 60px;
  height: 60px;
}
section .udet .det {
  line-height: 0;
  margin-left: 10px;
  font-weight: 800;
  font-size: 32px;
}
section .udet .det p {
  color: gray;
  line-height: normal;
  font-size: 16px;
}
section .profile {
  font-size: 32px;
  width: 64px;
  height: 64px;
  background-color: #5700A9;
  text-align: center;
  color: white;
  margin: 0 32px 0 0;
  border-radius: 50%;
}
.header .searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .searchBar input {
  width: 686px;
  height: 50px;
  margin-top: 10px;
  border-radius: 10px;
  background: #fff9f9f9;
  border: 1px solid white;
  box-shadow: 0 0 5pt 2pt #D3D3D3;

  /* border: 2px solid red; */
}
.header .searchBar input:focus{
  outline: none;
}
.header .searchBar input::placeholder {
  color: grey;
  font-weight: bold;
  font-size: 32px;
  line-height: normal;
  letter-spacing: 0px;
  position: absolute;
  left: 30px;
  top: 8px;
}

/* Item */

.header .item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


/**********Banner**********/


/* categories */


.header .categories .head{
    text-align: center;
    color: #5700A9;
    font-size: 32px;
    font-weight: bold;
}
.header .categories .head span{
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}

.header .categories .items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 302px;
}

/* MediaQuery */
@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 575px;
  }
  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 16px;
  }
  section .udet {
    display: flex;
    width: 164px;
    height: 30px;
  }
  section .udet span {
    width: 30px;
    height: 30px;
    font-size: 16px;
    padding-top: 3px;
  }
  section .udet .det {
    line-height: 0;
    font-weight: 800;
    font-size: 16px;
  }
  section .udet .det p {
    width: 127px;
    color: gray;
    font-size: 8px;
  }
  section .profile {
    width: 32px;
    height: 32px;
    font-size: 16px;
    margin-top: 0;
    margin-right: 10px;
  }

  /* SearchBar */

  .header .searchBar input {
    width: 343px;
    height: 35px;
  }
  .header .searchBar input::placeholder {
  font-size: 16px;
}

/* categories */

.header .categories .head{
    font-size: 16px;
}

.header .categories .head span{
    font-size: 8px;
}
.header .categories .items{
  width: 100%;
  height: 151px;
}
}
